.prodeditar{
    margin: 10px;
    background-color: aqua;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    background-color:  #b4cfe8e0;
    border: 3px solid #5d9bd4e0;
}
.prodeditar:hover{
    background-color: #d8e4f0e0 ;
}

.prodbotao{
    margin: 5px;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    background-color:  #b4cfe8e0;
    border: 3px solid #5d9bd4e0;
}
.prodbotao:hover{
    background-color: #d8e4f0e0 ;
}
